@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

section {
  background-image: linear-gradient(rgba(217, 245, 186, 0.897),rgba(201, 244, 210, 0.799)),url(i7.jpg);
  background-size: cover;
  background-position: center;
  padding: 5rem 9%;
}

nav{
    background: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 100px;
  }
  .logo-image{
    width: 96px;
    height: 76px;
    border-radius: 40%;
    overflow: hidden;
    margin-top: -10px;
  }
  nav .nav-items{
    display: flex;
    flex: 1;
    padding: 0 0 0 40px;
  }
  nav .nav-items li{
    list-style: none;
    padding: 0 15px;
  }
  nav .nav-items li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
  }
  nav .nav-items li a:hover{
    color: #ff3d00;
  }
  nav form{
    display: flex;
    height: 40px;
    padding: 2px;
    background: #1e232b;
    min-width: 18%!important;
    border-radius: 2px;
    border: 1px solid rgba(155,155,155,0.2);
  }
  nav form .search-data{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: #fff;
    font-size: 17px;
    border: none;
    font-weight: 500;
    background: none;
  }
  nav form button{
    padding: 0 15px;
    color: #fff;
    font-size: 17px;
    background: #ff3d00;
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }
  nav form button:hover{
    background: #e63600;
  }
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    width: 40px;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    display: none;
  }
  nav .menu-icon span,
  nav .cancel-icon,
  nav .search-icon{
    display: none;
  }
  @media (max-width: 1450px) {
    nav{
      padding: 0 50px;
    }
  }
  @media (max-width: 1380px){
    nav{
      padding: 0px;
    }
    nav .logo{
      flex: 2;
      text-align: center;
    }
    nav .nav-items{
      position: fixed;
      z-index: 99;
      top: 70px;
      width: 100%;
      left: -100%;
      height: 100%;
      padding: 10px 50px 0 50px;
      text-align: center;
      background: #14181f;
      display: inline-block;
      transition: left 0.3s ease;
    }
    nav .nav-items.active{
      left: 0px;
    }
    nav .nav-items li{
      line-height: 40px;
      margin: 30px 0;
    }
    nav .nav-items li a{
      font-size: 20px;
    }
    nav form{
      z-index: 1;
      position: absolute;
      top: 80px;
      right: 50px;
      opacity: 0;
      pointer-events: none;
      transition: top 0.3s ease, opacity 0.1s ease;
    }
    nav form.active{
      top: 95px;
      opacity: 1;
      pointer-events: auto;
    }
    nav form:before{
      position: absolute;
      content: "";
      top: -13px;
      right: 0px;
      width: 0;
      height: 0;
      z-index: -1;
      border: 10px solid transparent;
      border-bottom-color: #1e232b;
      margin: -20px 0 0;
    }
    nav form:after{
      position: absolute;
      content: '';
      height: 60px;
      padding: 2px;
      background: #1e232b;
      border-radius: 2px;
      min-width: calc(100% + 20px);
      z-index: -2;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    nav .menu-icon{
      display: block;
    }
    nav .search-icon,
    nav .menu-icon span{
      display: block;
    }
    nav .menu-icon span.hide,
    nav .search-icon.hide{
      display: none;
    }
    nav .cancel-icon.show{
      display: block;
    }
  }
  @media (max-width: 980px){
    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon{
      margin: 0 20px;
    }
    nav form{
      right: 30px;
    }
  }
  @media (max-width: 350px){
    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon{
      margin: 0 10px;
      font-size: 16px;
    }
  }
  
  li i{
    line-height: 40px;
    margin: 5px 0;
    color: white;
    font-size: 17px;
  }
  
  .login-form-container{
    position: fixed;
    top:-120%; left: 0;
    z-index: 10000;
    min-height: 100vh;
    width:100%;
    background:rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  .login-form-container.active{
    top:0;
  }
  
  .login-form-container form{
    margin:2rem;
    padding:1.5rem 2rem;
    border-radius: .5rem;
    background:#fff;
    width:50rem;
  }
  
  .login-form-container form h3{
    font-size: 3rem;
    color:#444;
    text-transform: uppercase;
    text-align: center;
    padding:1rem 0;
  }
  
  .login-form-container form .box{
    width:100%;
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    margin:.6rem 0;
    border:.1rem solid rgba(0,0,0,.3);
    text-transform: none;
  }
  
  .login-form-container form .box:focus{
    border-color: var(--orange);
  }
  
  .login-form-container form #remember{
    margin:2rem 0;
  }
  
  .login-form-container form label{
    font-size: 1.5rem;
  }
  
  .login-form-container form .btn{
    height: 35px;
    display: block;
    width:100%;
  }
  
  .login-form-container form p{
    padding:.5rem 0;
    font-size: 1.5rem;
    color:#666;
  }
  
  .login-form-container form p a{
    color:rgb(227, 178, 87);
  }
  
  .login-form-container form p a:hover{
    color:#333;
    text-decoration: underline;
  }
  
  .login-form-container #form-close{
    position: absolute;
    top:2rem; right:3rem;
    font-size: 5rem;
    color:#fff;
    cursor: pointer;
  } 
 .review-container{
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .board{
  max-width: 987px;
    width: 100%;
    background-color: #14181f;
    text-align: center;
    border-radius: 8px;
    padding: 4em 0;
}
 .text-light{
  color: #fff;
 }
 .swiper {
  width: 600px;
  height: 300px;
}

.swiper .swiper-slide .flex{
  margin: 3em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper .swiper-slide .comments{
  background-color: antiquewhite;
  padding: 1.5em 2em;
  width: 50%;
  border-radius: 5px;
  font-size: 0.9em;
  position: relative;
}

.swiper .swiper-slide .comments::after{
  content: '';
  position: absolute;
  bottom: -19px;
  left: 45%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid antiquewhite;
  z-index: -99;
}

.swiper .profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}
.swiper .profile img{
  width: 40%;
  border-radius: 50%;
  border: 5px solid #b261c4;
  margin: 10px 0;
}

.swiper .profile a{
  text-decoration: none;
  color: aqua;
}

.swiper .profile span{
  color: burlywood;
  /* font-size: 8em; */
}
.swiper .swiper-button-prev{
   color:#fff;
 }
 .swiper .swiper-button-next{
  color:#fff;
}
